<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/showproduct.css" />
  </head>
  <body>
    <header>
      <h1>Awesome Website</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="/user/updateprofile">update profile</a></li>
          <li><a href="/logout" class="cta-button">logout</a></li>
        </ul>
      </nav>
    </header>
    <div class="container">
      <div class="signup-container">
        <form class="signup-form" action="updateprofile" method="post">
          <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" value="<%=data.username%>" required />
          </div>
          <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" value="<%=data.email%>" required />
          </div>
          <div class="input-group">
            <label for="date">date of birth</label>
            <input type="date" id="date" name="dateofbirth" value="<%= userfindresult.length > 0 && userfindresult[0].userProfile.length > 0 ? userfindresult[0].userProfile[0].dateofbirth : '' %>" required />
          </div>
          <div class="input-group">
            <label for="gender">Gender</label>
            <input type="string" id="gender" name="gender" value="<%= userfindresult.length > 0 && userfindresult[0].userProfile.length > 0 ? userfindresult[0].userProfile[0].gender : '' %>" required />
          </div>
          <div class="input-group">
            <label for="phone">phone number</label>
            <input type="number" id="phone" name="phone" value="<%= userfindresult.length > 0 && userfindresult[0].userProfile.length > 0 ? userfindresult[0].userProfile[0].phone : '' %>" required />
          </div>
          
          <button type="submit">Proceed</button>

          <div class="links">
            <span>Dont want to update <a href="/">go back</a></span>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
